$black: #000;
$white: #ffffff;
$sidebar-bg: #f5f5f7;
$button-color: #0076df;
$button-hover-color: #006edb;
$input-border-color: #86868b;
$box-shadow-color: #cccccc;

#root {
  max-width: 1600px;
  /*   margin: 0 auto;
  padding: 2rem; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "SF Pro Text";
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
}

.app-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.material-container {
  width: 27.8%;
  margin-left: auto;
}

.material-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: $sidebar-bg;
  padding-bottom: 20px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.material-wrapper {
  span {
    background-color: $button-color;
    color: $white;
    width: 40%;
    margin-bottom: 15px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px -1px $box-shadow-color;
    box-shadow: 5px 5px 15px -1px $box-shadow-color;
    border-radius: 25px;
    cursor: pointer;
    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.form-wrapper {
  border-radius: 12px;
  background-color: $sidebar-bg;
  margin-bottom: 20px;
  height: 300px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  h2 {
    margin-top: 0;
    padding-top: 20px;
  }
  form {
    display: inline-block;
    margin: 20px 0;
  }
  input {
    border-radius: 8px;
    border: solid 1px $input-border-color;
    background: none;
    margin: 0 20px 20px 10px;
    padding: 8px 10px;
    width: 22%;
    &:hover,
    &:focus,
    &:focus-visible {
      box-shadow: 0 16px 32px -16px rgba(0, 0, 0, 0.16) !important;
      border: solid 1px $input-border-color;
    }
  }
}

.submit-btn {
  border-radius: 50px;
  background-color: $button-color;
  color: $white;
  margin-top: 15px;
  &:hover {
    background-color: $button-hover-color;
  }
  &:focus {
    outline: none;
  }
}

.banner-wrapper {
  width: 100%;
  display: flex;
}

.image-container {
  width: 97%;
  height: 300px;
  margin-right: 20px;
  img {
    width: 100%;
  }
}

.banner {
  cursor: pointer;
  width: 100%;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.banner img {
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.banner img.fade-in {
  opacity: 1;
  transform: scale(1);
}

/* Keyframes Animation */
@keyframes bannerFadeIn {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@media (max-width: 800px) {
  .banner-wrapper {
    flex-direction: column;
  }

  .form-wrapper {
    margin-top: 22px;
    width: 100%;
  }

  .material-container {
    flex: 100%;
  }
}
